body {
  color: #000000;
  background: #eeeeee;
  font: 1.1em "Times New Roman";
  line-height: 1.2;
  margin: 40px 0;
}
#resume {
  margin: 0 auto;
  max-width: 800px;
  padding: 40px 60px;
  background: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: 2px 2px 4px #aaaaaa;
  -webkit-box-shadow: 2px 2px 4px #aaaaaa;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 200%;
  margin: 0;
  padding: 0;
}
h2 {
  border-bottom: 1px solid #000000;
  text-transform: uppercase;
  font-size: 130%;
  /* margin: 1em 0 0 0; */
  margin: 0;
  padding: 0;
}
h3 {
  font-size: 100%;
  /* margin: 0.8em 0 0.3em 0; */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
h4 {
  font-size: 85%;
  /* margin: 0.8em 0 0.3em 0; */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
p {
  /* margin: 0 0 0.5em 0; */
  margin: 0;
  padding: 0;
}
ul {
  padding: 0;
  margin: 0 1.5em;
  list-style: none;
}
li {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

@media print {
  body {
    font-size: 10pt;
    margin: 0;
    padding: 0;
    background: none;
  }
  #resume {
    margin: 0;
    padding: 0;
    border: 0px;
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  /* Make links black in PDF */
  /* Move this outside the print block to apply this in HTML too */
  a,
  a:link,
  a:visited,
  a:hover {
    color: #000000;
    text-decoration: underline;
  }
}
@page {
  /* Change margins and paper size of PDF */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/@page */
  size: letter;
  margin: 0.5in 0.8in;
}
@media screen and (max-width: 800px) {
  body {
    font-size: 16pt;
    margin: 0;
    padding: 0;
    background: #ffffff !important;
  }
  #resume {
    margin: 0;
    padding: 1em;
    border: 0px;
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}
