body {
  color: #000000;
  background-color: #eeeeee;
  font-size: 1em;
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  line-height: 1.2;
  margin: 40px 0;
}
body * {
  box-sizing: border-box;
}
#resume {
  margin: 0 auto;
  max-width: 800px;
  padding: 40px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: 2px 2px 4px #aaaaaa;
  -webkit-box-shadow: 2px 2px 4px #aaaaaa;
}

/* Font Reset and default style */
h1 {
  font-size: 2.5em;
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 2em;
  margin: 0;
  padding: 0;
}
h3 {
  font-size: 1.3em;
  margin: 0;
  padding: 0;
}
h4 {
  font-size: 1em;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
a {
  display: inline;
  text-decoration: none;
  color: #08c;
}
ul {
  padding: 0;
  margin: 0 0 0 1.5em;
  list-style: none;
}
li {
  padding: 0;
  margin: 0;
  display: flex;
}
/* END Style reset and default styles */

/* General Styles */
.icon {
  width: 30px;
  height: 30px;
  margin: 0 10px 0 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #08c;
  border-radius: 40px;
}
.icon > img {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  display: inline-block;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(106deg)
    brightness(106%) contrast(101%);
}

.section-header {
  display: flex;
  align-items: center;
}
/* END General Styles */

/* Header Styles */
#header {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
#header > img {
  width: 100px;
  height: 100px;
}
#header > div {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#header > div > h1 {
  /* text-transform: uppercase; */
}
#header > div > h2 {
  font-size: 1.2em;
}
#header > ul {
  width: 365px;
  height: 105px;
  margin: 5px 0 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#header > ul > li {
  margin-bottom: 5px;
}
#header > ul > li:last-child {
  margin-bottom: 0;
}
#header > ul > li > a {
  display: flex;
  align-items: center;
}
/* END Header Styles */

/* Intro Styles */
#intro {
  margin-bottom: 15px;
}
#intro p + p {
  margin-top: 0.5em;
}
/* END Intro Styles */

/* Work Experience Styles */
#work-experience {
}
/* END Work Experience Styles */

/* Programming Knowledge Styles */
#programming-knowledge {
}
#programming-knowledge ul {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
#programming-knowledge ul > li {
  width: 33%;
  text-align: left;
}

/* For PDF */
@media print {
  body {
    font-size: 10pt;
    margin: 0;
    padding: 0;
    background: none;
  }
  #resume {
    margin: 0;
    padding: 0;
    border: 0px;
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  /* Make links black in PDF */
  /* Move this outside the print block to apply this in HTML too */
  a,
  a:link,
  a:visited,
  a:hover {
    color: #000000;
    text-decoration: underline;
  }

  .icon {
    margin-right: 5px;
    background-color: transparent;
  }

  #header > ul > li {
    margin-bottom: 0;
  }
}
@page {
  /* Change margins and paper size of PDF */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/@page */
  size: letter;
  margin: 0.5in 0.8in;
}
@media screen and (max-width: 800px) {
  body {
    font-size: 16pt;
    margin: 0;
    padding: 0;
    background: #ffffff !important;
  }
  #resume {
    margin: 0;
    padding: 1em;
    border: 0px;
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}
