/* FONTS */
@font-face {
  font-family: "Abel";
  src: url("fonts/fonts/abel-regular-webfont.woff2") format("woff2"),
    url("fonts/abel-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("fonts/opensanscondensed-bold-webfont.woff2") format("woff2"),
    url("fonts/opensanscondensed-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("fonts/opensanscondensed-light-webfont.woff2") format("woff2"),
    url("fonts/opensanscondensed-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("fonts/opensanscondensed-lightitalic-webfont.woff2") format("woff2"),
    url("fonts/opensanscondensed-lightitalic-webfont.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
/* END FONTS */

body {
  margin: 40px 0;
  padding: 0;
  color: #011627;
  background-color: #eeeeee;
  font-size: 16px;
  font-family: "Abel", sans-serif;
  font-weight: normal;
  line-height: 1.2;
}
body * {
  box-sizing: border-box;
}
#curriculum-vitae,
#resume {
  max-width: 920px;
  margin: 0 auto;
  padding: 40px;
  background-color: #ffffff;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  -webkit-box-shadow: 2px 2px 4px #aaaaaa;
  box-shadow: 2px 2px 4px #aaaaaa;
}

/* Font Reset and default style */
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-family: "Open Sans Condensed", sans-serif;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.1em;
}
p {
  margin: 0;
  font-size: 1.1em;
}
a {
  display: inline;
  text-decoration: none;
  color: #e71d36;
}
ul {
  margin: 0;
  padding: 0 0 0 25px;
  list-style: none;
  font-size: 1.1em;
}
li {
  padding: 0;
  margin: 0;
  display: flex;
}
/* END Style reset and default styles */

/* General Styles */
.w-3-5 {
  width: 60%;
}
.w-2-5 {
  width: 40%;
}

#curriculum-vitae .w-3-5 {
  width: 100%;
}
#curriculum-vitae .w-2-5 {
  width: 100%;
}

.icon {
  width: 30px;
  height: 30px;
  margin: 0 5px 0 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2ec4b6;
  border-radius: 40px;
}
.icon > img {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.section-header {
  margin-bottom: 10px;
}
.section-header > h2 {
  display: flex;
  align-items: center;
}
.section-header > h2 > .icon {
  width: 45px;
  height: 45px;
  margin-right: 10px;
}
.section-header > h2 > .icon > img {
  width: 25px;
  height: 25px;
}

.container {
  display: flex;
  flex-direction: row;
}
.column > div {
  margin-bottom: 20px;
}

#curriculum-vitae .container {
  display: inline;
}
/* END General Styles */

/* Header Styles */
#header {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
#header > div.identity {
  display: flex;
  align-items: center;
}
#header > div.identity > img {
  width: 100px;
  margin-right: 10px;
  display: inline-block;
}
#header > div.identity > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#header > div.identity > div > h1 {
  width: 100%;
  color: #ff9f1c;
  font-size: 3em;
  font-weight: 300;
  line-height: 1;
  text-align: justify;
  text-transform: uppercase;
}
#header > div.identity > div > h2 {
  width: 100%;
  font-size: 1.3em;
}
#header > ul {
  width: 330px;
  height: 105px;
  margin-top: 5px;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#header > ul > li {
  margin-bottom: 5px;
}
#header > ul > li:last-child {
  margin-bottom: 0;
}
#header > ul > li > a {
  width: 100%;
  display: flex;
  align-items: center;
  color: #011627;
}
/* END Header Styles */

/* Intro Styles */
#intro {
  margin-bottom: 20px;
}
#intro p + p {
  margin-top: 0.5em;
}
/* END Intro Styles */

/* Work Experience Styles */
#work-experience {
  padding-right: 15px;
}
#work-experience > h3 {
  font-size: 1.5em;
  font-weight: 300;
  margin: 0 0 5px 50px;
}
#work-experience > h3 > span {
  padding-left: 5px;
  font-size: 0.6em;
  font-weight: 700;
  color: #2ec4b6;
}
#work-experience > h4 {
  font-size: 1.7em;
  font-weight: 300;
  margin: 0 0 10px 50px;
}
#work-experience > h4 > span {
  padding-left: 5px;
  font-size: 0.65em;
  font-weight: 700;
  color: #2ec4b6;
}
#work-experience > p {
  margin-left: 50px;
  line-height: 1.3;
}
#work-experience > p.job-description {
  margin-bottom: 10px;
}
#work-experience > p.job-link {
  margin-bottom: 25px;
}
#work-experience > ul {
  margin-bottom: 10px;
  padding-left: 50px;
  list-style-type: disc;
}
#work-experience > ul > li {
  margin-bottom: 10px;
}

#curriculum-vitae #work-experience > ul {
  display: none;
}
#resume #work-experience > p.job-description {
  display: none;
}
/* END Work Experience Styles */

/* Honors Styles */
#honors > ul {
  padding-left: 50px;
  list-style: circle;
}
#honors > ul > li {
  margin-bottom: 15px;
}
#honors > ul > li:last-child {
  margin-bottom: 0;
}
/* END Honors Styles */

/* Education Styles */
#education > p {
  padding-left: 50px;
}
#education > p > span {
  padding-left: 50px;
}
/* END Education Styles */

/* Hobbies Styles */
#hobbies > ul {
  padding-left: 50px;
  list-style: circle;
}
#hobbies > ul > li {
  margin-bottom: 15px;
}
#hobbies > ul > li:last-child {
  margin-bottom: 0;
}
/* END Hobbies Styles */

/* For PDF */
@media print {
  body {
    font-size: 10pt;
    margin: 0;
    padding: 0;
    background: none;
  }
  #curriculum-vitae,
  #resume {
    margin: 0;
    padding: 0;
    border: 0px;
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  /* Make links black in PDF */
  /* Move this outside the print block to apply this in HTML too */
  a,
  a:link,
  a:visited,
  a:hover {
    color: #000000;
    text-decoration: underline;
  }

  .w-2-5,
  .w-3-5 {
    width: 100%;
  }

  .container {
    display: block;
  }

  .icon {
    /* background-color: transparent; */
  }

  #header > div.identity {
    width: 380px;
  }
  #header > ul {
    width: 285px;
    height: 110px;
  }
  #header > ul > li {
    margin-bottom: 1px;
    font-size: 0.85em;
  }

  #work-experience {
    padding-right: 0;
  }
}
@page {
  /* Change margins and paper size of PDF */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/@page */
  size: letter;
  margin: 0.5in 0.5in;
}
@media screen and (max-width: 800px) {
  body {
    font-size: 16pt;
    margin: 0;
    padding: 0;
    background: #ffffff !important;
  }
  #curriculum-vitae,
  #resume {
    margin: 0;
    padding: 1em;
    background-color: none;
    border-width: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
